## 目录结构说明

- dogeow 是 Next.js 15
- dogeow-api 是 Laravel 12

如果你要修改，请到对应的文件夹去修改，而不是这个目录。

## 目标

建议一个自给自足的网站，不要依赖其他网站。

有 APi 工具，有小游戏，有 Markdonw 笔记等等。

## 技术栈

### 前端

- Next.js 15
- Tailwind CSS
- Shadcn UI（Radix UI）
- Lucide
- TypeScript
- React
- Vercel
- axios
- react-hook-form
- zod
- zustand
- framer-motion
- date-fns
- react-hot-toast
- SWR / TanStack Query
- React DnD

### 后端

- Laravel 12
    - Laravel
        - Scout
        - intervention/image
        - Reverb
        - Sanctum
    - spatie
        - laravel-query-builder
        - laravel-permission
        - laravel-activitylog
        - laravel-backup
        - laravel-medialibrary
- PHP 8.4
- MySQL 8
- Redis 7
- Nginx
- Laravel Octane (性能优化)
- Laravel Horizon (队列监控)
- Laravel Telescope (调试工具)
- Laravel Pint (代码格式化)

### 公共

- 代码规范
- 单元测试
- 代码规范
- CI/CD
- 监控
- 日志
- Sentry (错误跟踪)
- GitHub Actions/GitLab CI (自动化流程)
- Husky + lint-staged (Git钩子)

## 注意

- 不要运行 npm run dev 等，我自己有运行的。
- 不要使用 createContext，而是使用 zustand。
- 默认使用 flex 布局，不要使用 grid 布局，除非复杂的显示结构。
- 不要使用 fetch、axios，使用 swr。
- 按照功能模块组织代码，不要混在一起。比如 api、store、components、types、utils、hooks 等，放到对应项目功能，比如导航、物品管理、游戏的文件夹。